

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Internationalization &mdash; Read the Docs 1.0 documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <link rel="next" title="Overview of issue labels" href="issue-labels.html" />
    <link rel="prev" title="Interesting Settings" href="settings.html" /> 

  
  <script src="_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="index.html">
          

          
            
            <img src="_static/logo.svg" class="logo" alt="Logo"/>
          
          </a>

          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">User Documentation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="getting_started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="versions.html">Versions</a></li>
<li class="toctree-l1"><a class="reference internal" href="builds.html">Build Process</a></li>
<li class="toctree-l1"><a class="reference internal" href="features.html">Read the Docs features</a></li>
<li class="toctree-l1"><a class="reference internal" href="support.html">Support</a></li>
<li class="toctree-l1"><a class="reference internal" href="faq.html">Frequently Asked Questions</a></li>
<li class="toctree-l1"><a class="reference internal" href="yaml-config.html">Read the Docs YAML Config</a></li>
<li class="toctree-l1"><a class="reference internal" href="guides/index.html">Guides</a></li>
<li class="toctree-l1"><a class="reference internal" href="api/index.html">Public API</a></li>
<li class="toctree-l1"><a class="reference internal" href="embed.html">Embed API</a></li>
</ul>
<p class="caption"><span class="caption-text">About Read the Docs</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="contribute.html">Contributing to Read the Docs</a></li>
<li class="toctree-l1"><a class="reference internal" href="team.html">Read the Docs Team</a></li>
<li class="toctree-l1"><a class="reference internal" href="gsoc.html">Google Summer of Code</a></li>
<li class="toctree-l1"><a class="reference internal" href="code-of-conduct.html">Code of Conduct</a></li>
<li class="toctree-l1"><a class="reference internal" href="privacy-policy.html">Privacy Policy</a></li>
<li class="toctree-l1"><a class="reference internal" href="advertising/index.html">Advertising</a></li>
<li class="toctree-l1"><a class="reference internal" href="sponsors.html">Sponsors of Read the Docs</a></li>
<li class="toctree-l1"><a class="reference internal" href="open-source-philosophy.html">Read the Docs Open Source Philosophy</a></li>
<li class="toctree-l1"><a class="reference internal" href="story.html">The Story of Read the Docs</a></li>
<li class="toctree-l1"><a class="reference internal" href="abandoned-projects.html">Policy for Abandoned Projects</a></li>
<li class="toctree-l1"><a class="reference internal" href="dmca/index.html">DMCA Takedown Policy</a></li>
</ul>
<p class="caption"><span class="caption-text">Feature Documentation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="webhooks.html">Webhooks</a></li>
<li class="toctree-l1"><a class="reference internal" href="badges.html">Badges</a></li>
<li class="toctree-l1"><a class="reference internal" href="alternate_domains.html">Alternate Domains</a></li>
<li class="toctree-l1"><a class="reference internal" href="localization.html">Localization of Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="vcs.html">Version Control System Integration</a></li>
<li class="toctree-l1"><a class="reference internal" href="subprojects.html">Subprojects</a></li>
<li class="toctree-l1"><a class="reference internal" href="conda.html">Conda Support</a></li>
<li class="toctree-l1"><a class="reference internal" href="canonical.html">Canonical URLs</a></li>
<li class="toctree-l1"><a class="reference internal" href="single_version.html">Single Version Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="privacy.html">Privacy Levels</a></li>
<li class="toctree-l1"><a class="reference internal" href="user-defined-redirects.html">User-defined Redirects</a></li>
<li class="toctree-l1"><a class="reference internal" href="automatic-redirects.html">Automatic Redirects</a></li>
<li class="toctree-l1"><a class="reference internal" href="features/embed.html">Content Embedding</a></li>
</ul>
<p class="caption"><span class="caption-text">Developer Documentation</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="changelog.html">Changelog</a></li>
<li class="toctree-l1"><a class="reference internal" href="install.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="architecture.html">Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="tests.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="docs.html">Building and Contributing to Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="development/standards.html">Front End Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="development/buildenvironments.html">Build Environments</a></li>
<li class="toctree-l1"><a class="reference internal" href="symlinks.html">How we use symlinks</a></li>
<li class="toctree-l1"><a class="reference internal" href="settings.html">Interesting Settings</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">Internationalization</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#making-strings-localizable">Making Strings Localizable</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#interpolation">Interpolation</a></li>
<li class="toctree-l3"><a class="reference internal" href="#localization-comments">Localization Comments</a></li>
<li class="toctree-l3"><a class="reference internal" href="#adding-context-with-msgctxt">Adding Context with msgctxt</a></li>
<li class="toctree-l3"><a class="reference internal" href="#plurals">Plurals</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="#strings-in-templates">Strings in Templates</a></li>
<li class="toctree-l2"><a class="reference internal" href="#strings-in-python">Strings in Python</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#lazily-translated-strings">Lazily Translated Strings</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="#administrative-tasks">Administrative Tasks</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#updating-localization-files">Updating Localization Files</a></li>
<li class="toctree-l3"><a class="reference internal" href="#compiling-to-mo">Compiling to MO</a></li>
<li class="toctree-l3"><a class="reference internal" href="#transifex-integration">Transifex Integration</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="issue-labels.html">Overview of issue labels</a></li>
<li class="toctree-l1"><a class="reference internal" href="security.html">Security</a></li>
</ul>
<p class="caption"><span class="caption-text">Business Documentation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="business/index.html">Read the Docs Business Features</a></li>
</ul>
<p class="caption"><span class="caption-text">Custom Install Documentation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="custom_installs/index.html">Info about custom installs</a></li>
</ul>
<p class="caption"><span class="caption-text">Designer Documentation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="design.html">Designing Read the Docs</a></li>
<li class="toctree-l1"><a class="reference external" href="https://sphinx-rtd-theme.readthedocs.io/en/latest/">Theme</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="index.html">Read the Docs</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="index.html">Docs</a> &raquo;</li>
        
      <li>Internationalization</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="_sources/i18n.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="internationalization">
<h1>Internationalization<a class="headerlink" href="#internationalization" title="Permalink to this headline">¶</a></h1>
<p>This document covers the details regarding internationalization and
localization that are applied in Read the Docs. The guidelines described are
mostly based on <a class="reference external" href="http://kitsune.readthedocs.io/en/latest/localization.html">Kitsune’s localization documentation</a>.</p>
<p>As with most of the Django applications out there, Read the Docs’ i18n/l10n
framework is based on <a class="reference external" href="http://www.gnu.org/software/gettext/">GNU gettext</a>.
Crowd-sourced localization is optionally available at <a class="reference external" href="https://www.transifex.com/projects/p/readthedocs/">Transifex</a>.</p>
<p>For more information about the general ideas,
look at this document: <a class="reference external" href="http://www.gnu.org/software/gettext/manual/html_node/Concepts.html">http://www.gnu.org/software/gettext/manual/html_node/Concepts.html</a></p>
<div class="section" id="making-strings-localizable">
<h2>Making Strings Localizable<a class="headerlink" href="#making-strings-localizable" title="Permalink to this headline">¶</a></h2>
<p>Making strings in templates localizable is exceptionally easy. Making strings
in Python localizable is a little more complicated. The short answer, though,
is to just wrap the string in <code class="docutils literal notranslate"><span class="pre">_()</span></code>.</p>
<div class="section" id="interpolation">
<h3>Interpolation<a class="headerlink" href="#interpolation" title="Permalink to this headline">¶</a></h3>
<p>A string is often a combination of a fixed string and something changing, for
example, <code class="docutils literal notranslate"><span class="pre">Welcome,</span> <span class="pre">James</span></code> is a combination of the fixed part <code class="docutils literal notranslate"><span class="pre">Welcome,</span></code>,
and the changing part <code class="docutils literal notranslate"><span class="pre">James</span></code>. The naive solution is to localize the first
part and then follow it with the name:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">_</span><span class="p">(</span><span class="s1">&#39;Welcome, &#39;</span><span class="p">)</span> <span class="o">+</span> <span class="n">username</span>
</pre></div>
</div>
<p>This is <strong>wrong!</strong></p>
<p>In some locales, the word order may be different. Use Python string formatting
to interpolate the changing part into the string:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">_</span><span class="p">(</span><span class="s1">&#39;Welcome, </span><span class="si">{name}</span><span class="s1">&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="n">username</span><span class="p">)</span>
</pre></div>
</div>
<p>Python gives you a lot of ways to interpolate strings. The best way is to use
Py3k formatting and kwargs. That’s the clearest for localizers.</p>
</div>
<div class="section" id="localization-comments">
<h3>Localization Comments<a class="headerlink" href="#localization-comments" title="Permalink to this headline">¶</a></h3>
<p>Sometimes, it can help localizers to describe where a string comes from,
particularly if it can be difficult to find in the interface, or is not very
self-descriptive (e.g. very short strings). If you immediately precede the
string with a comment that starts with <code class="docutils literal notranslate"><span class="pre">Translators:</span></code>, the comment will be
added to the PO file, and visible to localizers.</p>
<p>Example:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">DEFAULT_THEME_CHOICES</span> <span class="o">=</span> <span class="p">(</span>
    <span class="c1"># Translators: This is a name of a Sphinx theme.</span>
    <span class="p">(</span><span class="n">THEME_DEFAULT</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;Default&#39;</span><span class="p">)),</span>
    <span class="c1"># Translators: This is a name of a Sphinx theme.</span>
    <span class="p">(</span><span class="n">THEME_SPHINX</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;Sphinx Docs&#39;</span><span class="p">)),</span>
    <span class="c1"># Translators: This is a name of a Sphinx theme.</span>
    <span class="p">(</span><span class="n">THEME_TRADITIONAL</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;Traditional&#39;</span><span class="p">)),</span>
    <span class="c1"># Translators: This is a name of a Sphinx theme.</span>
    <span class="p">(</span><span class="n">THEME_NATURE</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;Nature&#39;</span><span class="p">)),</span>
    <span class="c1"># Translators: This is a name of a Sphinx theme.</span>
    <span class="p">(</span><span class="n">THEME_HAIKU</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;Haiku&#39;</span><span class="p">)),</span>
<span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="adding-context-with-msgctxt">
<h3>Adding Context with msgctxt<a class="headerlink" href="#adding-context-with-msgctxt" title="Permalink to this headline">¶</a></h3>
<p>Strings may be the same in English, but different in other languages. English,
for example, has no grammatical gender, and sometimes the noun and verb forms
of a word are identical.</p>
<p>To make it possible to localize these correctly, we can add “context” (known in
gettext as <em>msgctxt</em>) to differentiate two otherwise identical strings. Django
provides a <a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.pgettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">pgettext()</span></code></a> function for this.</p>
<p>For example, the string <em>Search</em> may be a noun or a verb in English. In a
heading, it may be considered a noun, but on a button, it may be a verb. It’s
appropriate to add a context (like <em>button</em>) to one of them.</p>
<p>Generally, we should only add context if we are sure the strings aren’t used in
the same way, or if localizers ask us to.</p>
<p>Example:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="k">import</span> <span class="n">pgettext</span>

<span class="n">month</span> <span class="o">=</span> <span class="n">pgettext</span><span class="p">(</span><span class="s2">&quot;text for the search button on the form&quot;</span><span class="p">,</span> <span class="s2">&quot;Search&quot;</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="plurals">
<h3>Plurals<a class="headerlink" href="#plurals" title="Permalink to this headline">¶</a></h3>
<p><em>You have 1 new messages</em> grates on discerning ears. Fortunately, gettext gives
us a way to fix that in English <em>and</em> other locales, the
<a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ngettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ngettext()</span></code></a> function:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">ngettext</span><span class="p">(</span><span class="s1">&#39;singular sentence&#39;</span><span class="p">,</span> <span class="s1">&#39;plural sentence&#39;</span><span class="p">,</span> <span class="n">count</span><span class="p">)</span>
</pre></div>
</div>
<p>A more realistic example might be:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">ngettext</span><span class="p">(</span><span class="s1">&#39;Found </span><span class="si">{count}</span><span class="s1"> result.&#39;</span><span class="p">,</span>
         <span class="s1">&#39;Found </span><span class="si">{count}</span><span class="s1"> results&#39;</span><span class="p">,</span>
         <span class="nb">len</span><span class="p">(</span><span class="n">results</span><span class="p">))</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">count</span><span class="o">=</span><span class="nb">len</span><span class="p">(</span><span class="n">results</span><span class="p">))</span>
</pre></div>
</div>
<p>This method takes three arguments because English only needs three, i.e., zero
is considered “plural” for English. Other languages may have <a class="reference external" href="http://translate.sourceforge.net/wiki/l10n/pluralforms">different plural
rules</a>, and require
different phrases for, say 0, 1, 2-3, 4-10, &gt;10. That’s absolutely fine, and
gettext makes it possible.</p>
</div>
</div>
<div class="section" id="strings-in-templates">
<h2>Strings in Templates<a class="headerlink" href="#strings-in-templates" title="Permalink to this headline">¶</a></h2>
<p>When putting new text into a template, all you need to do is wrap it in a
<code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">trans</span> <span class="pre">%}</span></code> template tag:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="o">&lt;</span><span class="n">h1</span><span class="o">&gt;</span><span class="p">{</span><span class="o">%</span> <span class="n">trans</span> <span class="s2">&quot;Heading&quot;</span> <span class="o">%</span><span class="p">}</span><span class="o">&lt;/</span><span class="n">h1</span><span class="o">&gt;</span>
</pre></div>
</div>
<p>Context can be added, too:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="o">&lt;</span><span class="n">h1</span><span class="o">&gt;</span><span class="p">{</span><span class="o">%</span> <span class="n">trans</span> <span class="s2">&quot;Heading&quot;</span> <span class="n">context</span> <span class="s2">&quot;section name&quot;</span> <span class="o">%</span><span class="p">}</span><span class="o">&lt;/</span><span class="n">h1</span><span class="o">&gt;</span>
</pre></div>
</div>
<p>Comments for translators need to precede the internationalized text and must
start with the <code class="docutils literal notranslate"><span class="pre">Translators:</span></code> keyword.:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="p">{</span><span class="c1"># Translators: This heading is displayed in the user&#39;s profile page #}</span>
<span class="o">&lt;</span><span class="n">h1</span><span class="o">&gt;</span><span class="p">{</span><span class="o">%</span> <span class="n">trans</span> <span class="s2">&quot;Heading&quot;</span> <span class="o">%</span><span class="p">}</span><span class="o">&lt;/</span><span class="n">h1</span><span class="o">&gt;</span>
</pre></div>
</div>
<p>To interpolate, you need to use the alternative and more verbose <code class="docutils literal notranslate"><span class="pre">{%</span>
<span class="pre">blocktrans</span> <span class="pre">%}</span></code> template tag — it’s actually a block:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>{% blocktrans %}Welcome, {{ name }}!{% endblocktrans %}
</pre></div>
</div>
<p>Note that the <code class="docutils literal notranslate"><span class="pre">{{</span> <span class="pre">name</span> <span class="pre">}}</span></code> variable needs to exist in the template context.</p>
<p>In some situations, it’s desirable to evaluate template expressions such as
filters or accessing object attributes. You can’t do that within the <code class="docutils literal notranslate"><span class="pre">{%</span>
<span class="pre">blocktrans</span> <span class="pre">%}</span></code> block, so you need to bind the expression to a local variable
first:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>{% blocktrans trimmed with revision.created_date|timesince as timesince %}
{{ revision }} {{ timesince }} ago
{% endblocktrans %}

{% blocktrans with project.name as name %}Delete {{ name }}?{% endblocktrans %}
</pre></div>
</div>
<p><code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">blocktrans</span> <span class="pre">%}</span></code> also provides pluralization. For that you need to bind a
counter with the name <code class="docutils literal notranslate"><span class="pre">count</span></code> and provide a plural translation after the <code class="docutils literal notranslate"><span class="pre">{%</span>
<span class="pre">plural</span> <span class="pre">%}</span></code> tag:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>{% blocktrans trimmed with amount=article.price count years=i.length %}
That will cost $ {{ amount }} per year.
{% plural %}
That will cost $ {{ amount }} per {{ years }} years.
{% endblocktrans %}
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The previous multi-lines examples also use the <code class="docutils literal notranslate"><span class="pre">trimmed</span></code> option.
This removes newline characters and replaces any whitespace at the beginning and end of a line,
helping translators when translating these strings.</p>
</div>
</div>
<div class="section" id="strings-in-python">
<h2>Strings in Python<a class="headerlink" href="#strings-in-python" title="Permalink to this headline">¶</a></h2>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Whenever you are adding a string in Python, ask yourself if it
really needs to be there, or if it should be in the template. Keep
logic and presentation separate!</p>
</div>
<p>Strings in Python are more complex for two reasons:</p>
<ol class="arabic simple">
<li>We need to make sure we’re always using Unicode strings and the
Unicode-friendly versions of the functions.</li>
<li>If you use the <a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ugettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ugettext()</span></code></a> function in the
wrong place, the string may end up in the wrong locale!</li>
</ol>
<p>Here’s how you might localize a string in a view:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="k">import</span> <span class="n">ugettext</span> <span class="k">as</span> <span class="n">_</span>

<span class="k">def</span> <span class="nf">my_view</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">request</span><span class="o">.</span><span class="n">user</span><span class="o">.</span><span class="n">is_superuser</span><span class="p">:</span>
        <span class="n">msg</span> <span class="o">=</span> <span class="n">_</span><span class="p">(</span><span class="sa">u</span><span class="s1">&#39;Oh hi, staff!&#39;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">msg</span> <span class="o">=</span> <span class="n">_</span><span class="p">(</span><span class="sa">u</span><span class="s1">&#39;You are not staff!&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>Interpolation is done through normal Python string formatting:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">msg</span> <span class="o">=</span> <span class="n">_</span><span class="p">(</span><span class="sa">u</span><span class="s1">&#39;Oh, hi, </span><span class="si">{user}</span><span class="s1">&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">user</span><span class="o">=</span><span class="n">request</span><span class="o">.</span><span class="n">user</span><span class="o">.</span><span class="n">username</span><span class="p">)</span>
</pre></div>
</div>
<p>Context information can be supplied by using the
<a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.pgettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">pgettext()</span></code></a> function:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">msg</span> <span class="o">=</span> <span class="n">pgettext</span><span class="p">(</span><span class="s1">&#39;the context&#39;</span><span class="p">,</span> <span class="s1">&#39;Search&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>Translator comments are normal one-line Python comments:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="c1"># Translators: A message to users.</span>
<span class="n">msg</span> <span class="o">=</span> <span class="n">_</span><span class="p">(</span><span class="sa">u</span><span class="s1">&#39;Oh, hi there!&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>If you need to use plurals, import the
<a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ungettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ungettext()</span></code></a> function:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="k">import</span> <span class="n">ungettext</span>

<span class="n">n</span> <span class="o">=</span> <span class="nb">len</span><span class="p">(</span><span class="n">results</span><span class="p">)</span>
<span class="n">msg</span> <span class="o">=</span> <span class="n">ungettext</span><span class="p">(</span><span class="s1">&#39;Found </span><span class="si">{0}</span><span class="s1"> result&#39;</span><span class="p">,</span> <span class="s1">&#39;Found </span><span class="si">{0}</span><span class="s1"> results&#39;</span><span class="p">,</span> <span class="n">n</span><span class="p">)</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
</pre></div>
</div>
<div class="section" id="lazily-translated-strings">
<h3>Lazily Translated Strings<a class="headerlink" href="#lazily-translated-strings" title="Permalink to this headline">¶</a></h3>
<p>You can use <a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ugettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ugettext()</span></code></a> or
<a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ungettext" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ungettext()</span></code></a> only in views or functions called
from views. If the function will be evaluated when the module is loaded, then
the string may end up in English or the locale of the last request!</p>
<p>Examples include strings in module-level code, arguments to functions in class
definitions, strings in functions called from outside the context of a view. To
internationalize these strings, you need to use the <code class="docutils literal notranslate"><span class="pre">_lazy</span></code> versions of the
above methods, <a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ugettext_lazy" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ugettext_lazy()</span></code></a> and
<a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.ungettext_lazy" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">ungettext_lazy()</span></code></a>. The result doesn’t get
translated until it is evaluated as a string, for example by being output or
passed to <code class="docutils literal notranslate"><span class="pre">unicode()</span></code>:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="k">import</span> <span class="n">ugettext_lazy</span> <span class="k">as</span> <span class="n">_</span>

<span class="k">class</span> <span class="nc">UserProfileForm</span><span class="p">(</span><span class="n">forms</span><span class="o">.</span><span class="n">ModelForm</span><span class="p">):</span>
    <span class="n">first_name</span> <span class="o">=</span> <span class="n">CharField</span><span class="p">(</span><span class="n">label</span><span class="o">=</span><span class="n">_</span><span class="p">(</span><span class="s1">&#39;First name&#39;</span><span class="p">),</span> <span class="n">required</span><span class="o">=</span><span class="kc">False</span><span class="p">)</span>
    <span class="n">last_name</span> <span class="o">=</span> <span class="n">CharField</span><span class="p">(</span><span class="n">label</span><span class="o">=</span><span class="n">_</span><span class="p">(</span><span class="s1">&#39;Last name&#39;</span><span class="p">),</span> <span class="n">required</span><span class="o">=</span><span class="kc">False</span><span class="p">)</span>
</pre></div>
</div>
<p>In case you want to provide context to a lazily-evaluated gettext string, you
will need to use <a class="reference external" href="https://django.readthedocs.io/en/1.9.x/ref/utils.html#django.utils.translation.pgettext_lazy" title="(in Django v1.9)"><code class="xref py py-func docutils literal notranslate"><span class="pre">pgettext_lazy()</span></code></a>.</p>
</div>
</div>
<div class="section" id="administrative-tasks">
<h2>Administrative Tasks<a class="headerlink" href="#administrative-tasks" title="Permalink to this headline">¶</a></h2>
<div class="section" id="updating-localization-files">
<h3>Updating Localization Files<a class="headerlink" href="#updating-localization-files" title="Permalink to this headline">¶</a></h3>
<p>To update the translation source files (eg if you changed or added translatable
strings in the templates or Python code) you should run <code class="docutils literal notranslate"><span class="pre">python</span> <span class="pre">manage.py</span>
<span class="pre">makemessages</span> <span class="pre">-l</span> <span class="pre">&lt;language&gt;</span></code> in the project’s root directory (substitute
<code class="docutils literal notranslate"><span class="pre">&lt;language&gt;</span></code> with a valid language code).</p>
<p>The updated files can now be localized in a <a class="reference external" href="https://en.wikipedia.org/wiki/Category:Software-localization_tools">PO editor</a> or
crowd-sourced online translation tool.</p>
</div>
<div class="section" id="compiling-to-mo">
<h3>Compiling to MO<a class="headerlink" href="#compiling-to-mo" title="Permalink to this headline">¶</a></h3>
<p>Gettext doesn’t parse any text files, it reads a binary format for faster
performance. To compile the latest PO files in the repository, Django provides
the <code class="docutils literal notranslate"><span class="pre">compilemessages</span></code> management command. For example, to compile all the
available localizations, just run:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>$ python manage.py compilemessages -a
</pre></div>
</div>
<p>You will need to do this every time you want to push updated translations to
the live site.</p>
<p>Also, note that it’s not a good idea to track MO files in version control,
since they would need to be updated at the same pace PO files are updated, so
it’s silly and not worth it. They are ignored by <code class="docutils literal notranslate"><span class="pre">.gitignore</span></code>, but please
make sure you don’t forcibly add them to the repository.</p>
</div>
<div class="section" id="transifex-integration">
<h3>Transifex Integration<a class="headerlink" href="#transifex-integration" title="Permalink to this headline">¶</a></h3>
<p>To push updated translation source files to Transifex, run <code class="docutils literal notranslate"><span class="pre">tx</span>
<span class="pre">push</span> <span class="pre">-s</span></code> (for English) or <code class="docutils literal notranslate"><span class="pre">tx</span> <span class="pre">push</span> <span class="pre">-t</span> <span class="pre">&lt;language&gt;</span></code> (for non-English).</p>
<p>To pull changes from Transifex, run <code class="docutils literal notranslate"><span class="pre">tx</span> <span class="pre">pull</span> <span class="pre">-a</span></code>. Note that Transifex does
not compile the translation files, so you have to do this after the pull (see
the <a class="reference internal" href="#compiling-to-mo">Compiling to MO</a> section).</p>
<p>For more information about the <code class="docutils literal notranslate"><span class="pre">tx</span></code> command, read the <a class="reference external" href="http://help.transifex.com/features/client/">Transifex client’s
help pages</a>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>For the Read the Docs community site, we use a <a class="reference external" href="https://github.com/rtfd/readthedocs.org/blob/master/fabfile.py">fabric script</a> to follow this process:</p>
<ol class="last arabic">
<li><p class="first">Update files and push sources (English) to Transifex:</p>
<div class="highlight-console notranslate"><div class="highlight"><pre><span></span><span class="gp">$</span> fab i18n_push_source
</pre></div>
</div>
</li>
<li><p class="first">Pull changes (new translations) from Transifex:</p>
<div class="highlight-console notranslate"><div class="highlight"><pre><span></span><span class="gp">$</span> fab i18n_pull
</pre></div>
</div>
</li>
</ol>
</div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="issue-labels.html" class="btn btn-neutral float-right" title="Overview of issue labels" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="settings.html" class="btn btn-neutral" title="Interesting Settings" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2010-2018, Read the Docs, Inc &amp; contributors.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'./',
            VERSION:'1.0',
            LANGUAGE:'en',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="_static/jquery.js"></script>
      <script type="text/javascript" src="_static/underscore.js"></script>
      <script type="text/javascript" src="_static/doctools.js"></script>

  

  <script type="text/javascript" src="_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>